<div id="dashboard">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title"><%= @orders.sum {|v| v['items'][0]['price'].to_f}.round(2) %></h2>
            <p class="card-text">Chiffre d'affaire</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title"><%= @orders.select {|v| v['status'] == 'Processed'}.count %></h2>
            <p class="card-text">Nouvelles commandes</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title"><%= @orders.count %></h2>
            <p class="card-text">Commandes totales</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container last-orders">
    <h2>Dernières commandes</h2>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Email</th>
            <th scope="col">Statut</th>
            <th scope="col">Date</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <th scope="row"><%= order['invoiceNumber'] %></th>
              <td><%= order['email'] %></td>
              <td><%= status_translate(order['status']) %></td>
              <td><%= DateTime.parse(order['creationDate']).strftime('%d/%m/%Y') %></td>
              <td><%= link_to 'Voir' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
