<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <br><br>
      <div class="jumbotron">
        <h1 class="display-4">#<%= @order['invoiceNumber'] %></h1>
        <h3 class="display-6"><%= @order['user']['billingAddressName'] %> - <%= DateTime.parse(@order['user']['creationDate']).strftime('%d/%m/%Y') %></h3>
          <%= form_tag order_status_periods_path(@order['token']), remote: :true, method: :post do %>
            <div class="input-group">
              <%= select_tag 'status', options_for_select(status_translate
                    .invert
                    .to_a,
                  selected: @order['status']),
                  class: 'custom-select' %>
              <div class="input-group-append">
                <input class="btn btn-success" type="submit" value="Valider">
              </div>
            </div>
          <% end %>
        <hr class="my-4">
        <% if @order['status'].downcase == 'shipped'.downcase %>
          <h3 class="display-6">Suivi de colis</h3>
            <%= form_tag order_tracking_periods_path(@order['token']), remote: :true, method: :post do %>
              <div class="input-group">
                <%= select_tag 'trackingUrl', options_for_select(tracking_url,
                    selected: @order['trackingUrl'] ||= current_user.tracking_url),
                    class: 'custom-select' %>
                <%= text_field_tag 'trackingNumber', @order['trackingNumber'] ||= nil, placeholder: 'Numéro de suivi' %>
                <div class="input-group-append">
                  <input class="btn btn-success" type="submit" value="Valider">
                </div>
              </div>
            <% end %>
          <hr class="my-4">
        <% end %>
        <h3 class="display-6"><%= @order['finalGrandTotal'] %>€ - <%= @order['items'].count %> élément(s) dans le panier</h3><br>
        <table class="table table-bordered table-light">
          <thead>
            <tr>
              <td scope="col">Nom</td>
              <td scope="col">Quantité</td>
              <td scope="col">Autres</td>
            </tr>
          </thead>
          <tbody>
            <% @order['items'].each do |order| %>
              <tr>
                <td><%= link_to order['name'], order['url'], target: '_blank' %></td>
                <td><%= order['quantity'] %></td>
                <td>
                  <% order['customFields'].each do |f| %>
                    <% if f['name'].downcase == 'couleurs' || f['name'].downcase == 'colors' %>
                      <span style="color: <%= f['displayValue'] %>"><%= f['name'] %></span> -
                    <% else %>
                      <%= f['name'] %> :
                      <%= f['displayValue'] %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <% if @order['refunds'].length > 0 %>
          <hr class="my-4">
          <h3 class="display-6">Remboursements</h3>
          <table class="table table-bordered table-light">
            <thead>
              <tr>
                <td scope="col">Montant</td>
                <td scope="col">Message</td>
                <td scope="col">Date</td>
              </tr>
            </thead>
            <tbody>
              <% @order['refunds'].each do |refund| %>
                <tr>
                  <td><%= refund['amount'] %></td>
                  <td><%= refund['comment'] %></td>
                  <td><%= DateTime.parse(refund['creationDate']).strftime('%d/%m/%Y - %Hh%M') %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
        <hr class="my-4">
        <p>
          <h3 class="display-6">Adresse destinataire</h3>
          <%= @order['user']['shippingAddressName'] %><br>
          <%= @order['user']['shippingAddressAddress1'] %><br>
          <%= @order['user']['shippingAddressAddress2'] %><br>
          <%= @order['user']['shippingAddressPostalCode'] %> - <%= @order['user']['shippingAddressCity'] %><br>
          <%= @order['user']['shippingAddressCountry'] %>
        </p>
        <hr class="my-4">
        <p>
          <% unless @order['user']['shippingAddressSameAsBilling'] %>
            <div class="alert alert-warning" role="alert">
              L'adresse du destinataire n'est pas la même que l'adresse du payeur.
              <b>Il s'agit peut-être d'une surprise</b>
            </div>
            <h3 class="display-6">Contact payeur</h3>
            <a href="tel:<%= @order['user']['shippingAddressPhone'] %>">
              <%= @order['user']['shippingAddressPhone'] %><br>
            </a>
            <%= mail_to @order['user']['email'] %>
          <% end %>
          <h3 class="display-6">Contact destinataire</h3>
          <a href="tel:<%= @order['user']['billingAddressPhone'] %>">
            <%= @order['user']['billingAddressPhone'] %><br>
          </a>
          <% if @order['user']['shippingAddressSameAsBilling'] %>
            <%= mail_to @order['user']['email'] %>
          <% end %>
        </p>
        <hr class="my-4">
        <h3 class="display-6">
          Action zone
        </h3>
        <%= link_to 'Télécharger la facture', '/', class: "btn btn-warning" %><br><br>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#refund">Rembourser</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="refund" tabindex="-1" role="dialog" aria-labelledby="Rembourser" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Rembourser</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_tag order_refund_periods_path, method: :post, remote: true do %>
          <%= hidden_field_tag 'token', @order['token'] %>
          <div class="modal-body">
            <div class="form-group">
              <%= label_tag :id, 'Commande', class: 'col-form-label' %>
              <%= text_field_tag :id, @order['invoiceNumber'], autofocus: true, class: 'form-control', disabled: true %>
            </div>
            <div class="form-group">
              <%= label_tag :price, 'Prix', class: 'col-form-label' %>
              <%= text_field_tag :price, @order['finalGrandTotal'], class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= label_tag :message, 'Message', class: 'col-form-label' %>
              <%= text_area_tag :message, nil, class: 'form-control', rows: 4 %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= submit_tag 'Valider', class: 'btn btn-danger', data: { confirm: 'Êtes vous sur de vouloir rembourser la commande ?' } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
