<div class="container show" id="periods">

  <h2>Période du <%= @period.start_date.strftime("%d/%m/%Y") %> au <%= @period.end_date.strftime("%d/%m/%Y") %></h2>
  <% if current_user.admin %>
    <%= link_to "Modifier", edit_period_path(@period.id) %>
  <% end %>

  <div class="row">
    <div class="col-md-5">
      <%= form_tag period_path(@period), method: :get, class: 'search' do %>
        <div class="input-group">
          <%= text_field_tag :invoiceNumber, params[:invoiceNumber], class: 'form-control', placeholder: 'Numéro de commande (CAPS-####)' %>
          <div class="input-group-append">
            <%= submit_tag 'Valider', class: 'btn btn-outline-secondary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <% if params[:invoiceNumber] %>
    <%= link_to 'Annuler la recherche', period_path(@period) %>
  <% end %>

  <% if @orders.any? { |order| order['status'].downcase == 'Shipped'.downcase && order['trackingNumber'] == nil } %>
    <div class="alert alert-warning" role="alert">
      Merci de vous rendre dans la/les commande(s) surlignés afin d'y renseigner le numéro de suivi.<br>
      Vous pourrez y accéder en cliquant sur <b>voir</b>.
    </div>
  <% end %>

  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Email</th>
          <th scope="col">Statut</th>
          <th scope="col">Date</th>
          <th scope="col"></th>
          <th colspan="2" scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr <%= "class=bg-danger" if order['status'].downcase == 'Shipped'.downcase && order['trackingNumber'] == nil %>>
            <th scope="row"><%= order['invoiceNumber'] %></th>
            <td><%= order['email'] %></td>
            <td><%= status_translate(order['status']) %> <%= '- Remboursée' if order['refunds'].length > 0 %></td>
            <td><%= DateTime.parse(order['creationDate']).strftime('%d/%m/%Y') %></td>
            <td><%= link_to 'Voir', order_dashboard_path(order['token']) %></td>
            <td>
              <%= actions_status(order['status'], order['token']) %>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#otherAction" data-order="<%= order['token'] %>">
                Autre
              </button>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<!-- Other action modal -->
<div class="modal fade" id="otherAction" tabindex="-1" role="dialog" aria-labelledby="otherAction" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Autre action</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag order_status_periods_path, method: :post, remote: true do %>
        <div class="modal-body">
          <%= hidden_field_tag 'token', '' %>
          <%= select_tag 'status', options_for_select(status_translate
                .invert
                .to_a,
              selected: 'InProgress'),
              class: 'custom-select' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= submit_tag 'Valider', class: 'btn btn-primary', data: { confirm: 'Êtes vous sur de vouloir modifier le statut ?' } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
