<div class="container show" id="periods">

  <h2>Période du <%= @period.start_date.strftime("%d-%m-%Y") %> au <%= @period.end_date.strftime("%d-%m-%Y") %></h2>
  <%= link_to "Revenir à l'accueil", periods_path %>


  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>
            <%= link_to 'Validée' %>
            <%= link_to 'Préparée' %>
            <%= link_to 'Expédiée' %>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#otherAction">
              Autre
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <%= snipcart_request('orders')['limit'] %>
  </div>
</div>

<!-- Other action modal -->
<div class="modal fade" id="otherAction" tabindex="-1" role="dialog" aria-labelledby="otherAction" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form action="">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Autre action</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <select name="" id="" class="custom-select">
            <option value="">Annuler (sans rembourser)</option>
            <option value="">Annuler (et rembourser)</option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary"></button>
        </div>
      </form>
    </div>
  </div>
</div>
