<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this period from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :firstname %>
    <%= form.text_field :firstname, id: :user_firstname, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :lastname %>
    <%= form.text_field :lastname, id: :user_lastname, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.email_field :email, id: :user_email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :password %>
    <%= form.password_field :password, id: :user_password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, id: :user_password_confirmation, class: 'form-control' %>
  </div>

  <div class="form-check">
    <%= form.check_box :admin, id: :user_admin, class: 'form-check-input' %>
    <%= form.label :admin, class: 'form-check-label' %>
  </div>

  <h3 class="display-6">Tracking URL</h3>

  <div class="form-group">
    <%= form.label :tracking_url %>
    <%= form.select :tracking_url, id: :user_tracking_url, class: 'form-control' do %>
      <%= options_for_select(tracking_url, selected: user.tracking_url) %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit 'Valider', class: 'btn btn-primary' %>
  </div>
<% end %>
